<h4>{{model.name}}</h4>

<table>
  <tbody>
    {{#each player in model.players}}
    <tr>
      <td>{{player.name}}</td>
      <td>{{player.number}}</td>
    </tr>
    {{/each}}
  </tbody>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number</th>
    </tr>
  </thead>
</table>
